/*.navbar-container {
    width: 100vw;
    height: 9vh;
    display: flex;
    flex-direction: row;
    background-color: gray;
}

.spacer1 {
    width: 5vw;
}

.navbar-brand {
    width: 30vw;
    display: flex;
    flex-direction: row;
}

.brand-logo {
    height: 5vh;
    width: 13vw;
}

.spacer2 {
    width: 30vw;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    width: 30vw;
}

.spacer3 {
    width: 5vw;
}

.hamburger-menu {
    display: none;
}

.navbar-button {
    float: right;
}*/